<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#"><strong>Insurer Portal</strong></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
	  <li class="nav-item active">
	    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#" aria-disabled="true">Current Cases</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#" aria-disabled="true">Open Quotes</a>
	  </li>
	</ul>
	</div>
</nav>
<div class="container">
	<div class="row">
		<ul>
			<li *ngFor="let insurer of insurers">
				<h3>{{ insurer.name }} - Information</h3>
				<p>{{ insurer.description}}</p>
			</li>
		</ul>

		<h3>Your current Risk Profiles</h3>
		<ul>
			<li *ngFor="let risk of risks">
				<strong>Risk Name:</strong><i> {{ risk.name }}</i> 
				<br>
				Description: {{ risk.description}}
				<br>
				Coverage Amount: {{ risk.coverage_amount }}
				<br>
				<strong>Additional Fields:</strong>
				<ul>
					<li *ngFor="let field of risk.risk_fields">
						{{ field.name }}: {{ field.value}}
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="container">
	<h3>New Risk Registration</h3>
	<form>
	<div class="form-group">
		<label for="risk_name">Name</label>
		<input type="text" class="form-control" id="risk_name" placeholder="John Smith">
		<small id="risk_name_help" class="form-text text-muted">*required</small>
	</div>
	<div class="form-group">
		<label for="risk_name">Name</label>
		<input type="text" class="form-control" id="risk_name" placeholder="John Smith">
		<small id="risk_name_help" class="form-text text-muted">*required</small>
	</div>
	<div class="form-group">
		<label for="risk_name">Name</label>
		<input type="text" class="form-control" id="risk_name" placeholder="John Smith">
		<small id="risk_name_help" class="form-text text-muted">*required</small>
	</div>
	<div class="form-group">
		<label for="risk_name">Name</label>
		<input type="text" class="form-control" id="risk_name" placeholder="John Smith">
		<small id="risk_name_help" class="form-text text-muted">*required</small>
	</div>
	<div class="form-group">
		<label for="risk_name">Name</label>
		<input type="text" class="form-control" id="risk_name" placeholder="John Smith">
		<small id="risk_name_help" class="form-text text-muted">*required</small>
	</div>
	<div class="form-group">
		<label for="risk_name">Name</label>
		<input type="text" class="form-control" id="risk_name" placeholder="John Smith">
		<small id="risk_name_help" class="form-text text-muted">*required</small>
	</div>
	<div class="form-group">
		<label for="risk_name">Name</label>
		<input type="text" class="form-control" id="risk_name" placeholder="John Smith">
		<small id="risk_name_help" class="form-text text-muted">*required</small>
	</div>
	<div class="form-group">
		<label for="risk_name">Name</label>
		<input type="text" class="form-control" id="risk_name" placeholder="John Smith">
		<small id="risk_name_help" class="form-text text-muted">*required</small>
	</div>
	<!-- <div class="form-group form-check">
		<input type="checkbox" class="form-check-input" id="exampleCheck1">
		<label class="form-check-label" for="exampleCheck1">Check me out</label>
	</div> -->
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<router-outlet></router-outlet>
